footer{
    background: $bgc;
    
    p{
        text-align: center;
        margin: 10px 0 0 0;
    }
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mediosDePago{
    img{
        width: 50px;
        margin-right: 5px;
        background-color: nth($colores, 4);
        border-radius: 10px;
    }
}

.logoFooter{
    h2{
        font-family: 'Another Shabby';
        text-transform: uppercase;
    }
    
    span{
        color: nth($colores, 4);
    }
}

.terminosCondiciones{
    
        a{
            display: block;
            margin-top: 5px;
            text-align: center;
            color: nth($colores, 4);
        }

        a:hover{
            color: white;
        }
}

.autor{
        color: nth($colores, 4);
}

.autor:hover{
    color: white;
}

@media (max-width: 768px){
    
    .mediosDePago{
    
        img{
            width: 50px;
            
        }
    }


    .logoFooter{
        h2{
            font-size: 16px;
        }
    }

    .terminosCondiciones{
        font-size: 12px;
    }
}

@media(max-width: 425px){
    .footer-container{
        flex-direction: column;
    }

    .mediosDePago{
        margin: 20px 0;
    }

    .logoFooter{
        h2{
            margin: 10px 0;
        }
    }

    .terminosCondiciones{
        
        margin: 10px 0;
    }
}