@import '../../utilities/vars';
@import'../../utilities/listas';

/**********NAVBAR**********/

.navbar{
    background: $bgc;
    border-bottom: 1px solid nth($colores, 4);
}

.navbar-brand{
    font-family: 'Another Shabby';
    text-transform: uppercase;
    margin-left: 100px;
        
        span{
            color: nth($colores, 4);
        }
}

.navbar-collapse{
    margin-right: 100px;
}

.nav-link{
    text-transform: uppercase;
}

.nav-link:hover{
    background-color: nth($colores, 4);
}


@media (max-width: 991px){
    .navbar-brand{
        margin-left: 0;
    }

    .navbar-toggler{
        background-color: nth($colores, 4);
    }

    .navbar-collapse{
        margin-right: 0;
    }

    .show{
        .navbar-nav{
            font-size: 22px;
        }
    }
}

