
/**********SECCION REDES & VIDEO**********/

.redes-container{
    background-color: nth($colores, 4);
}

.redes{
    display: flex;
    justify-content: space-around;
}

.facebook, .instagram, .tiwtter{
    padding: 0 15px;
    transition: 10ms;
        img{
            width: 40px;
            padding: 10px 0;
            margin-right: 10px;
            transition: 3s;
        }
}

.facebook:hover, .instagram:hover, .tiwtter:hover{
    img{
        transform: rotate(360deg);
    }
    
}

.container-video{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.video{
    background-color: #000;
    border-bottom: 3px solid nth($colores, 4);
}

video{
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -100;
}

.video-content{
    position: absolute;
    color: white;

        h1{
            font-family: 'Another Shabby';
            font-size: 100px;
            text-transform: uppercase;
            span{
                color: nth($colores, 4);
            }
        }
        p{
            font-size: 50px;
        }

        .video-txt{
            font-style: italic;
        }
}


/*MEDIA QUERIES*/

@media(max-width: 767px){
    .desktop{
        display: none;
    }
}

@media(min-width: 768px){
    .mobile{
        display: none;
    }

    .video-content{
        h1{
            font-size: 80px;
        }
        p{
            font-size: 30px;
        }

        .video-txt{
            font-size: 25px;
            margin-bottom: 50px;
        }
}
}

@media(min-width: 425px) and (max-width: 767px){
    .video-content{
        h1{
            font-size: 60px;
        }
        p{
            font-size: 25px;
        }

        .video-txt{
            font-size: 22px;
            margin-bottom: 50px;
        }
}
}

@media(min-width: 375px) and (max-width: 425px){
    .video-content{
            h1{
                font-size: 50px;
            }
            p{
                font-size: 22px;
            }

            .video-txt{
                font-size: 18px;
                margin-bottom: 50px;
            }
    }
}

@media(max-width: 374px){
    .video-content{
            h1{
                font-size: 40px;
            }
            p{
                font-size: 18px;
            }

            .video-txt{
                font-size: 15px;
                margin-bottom: 50px;
            }
    }
}