
/**********SECCION SERVICIOS**********/

.servicios-container{
    overflow: hidden;
    background: $bgc;
    border-bottom: 50px solid nth($colores, 4);

        input, select{
            border: none;
            outline: none;
            background-color: nth($colores, 5);
            border-bottom: 2px solid nth($colores, 4);
            color: nth($colores, 6);;
        }

}

.col{
    h2{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.form-reserva{
    display: flex;
    justify-content: center;
}

.form-box{
    input, select{
        display: block;
        width: 300px;
        margin-bottom: 15px;
    }
}

.form-buttons{
    text-align: center;
    input{
        display: inline;
        width: 100px;
        margin: 30px 15px 50px 15px;
        background-color: nth($colores, 4);
        border-radius: 10px 0;
        border-bottom: none;
        color: nth($colores, 1);
        transition: 500ms linear;
    }
}

.form-buttons{
    input:hover{
        color: white;
        border-radius: 0 30px;
        background-color: nth($colores, 3);
    }
}

.deliTake-container{
    display: flex;
    justify-content: center;
}

.menu{
    margin: 35px 0;
    text-align: center;

        p{
            font-size: 25px;
        }

        a{
            background-color: nth($colores, 4);
            border-radius: 10px 0;
            padding: 10px;
            font-size: 14px;
            text-decoration: none;
            transition: 500ms linear;
        }
}

.menu:hover{
    a{
        color: white;
        border-radius: 0 30px;
        background-color: nth($colores, 3);
    }
}

.deli-buttons{
    input{
        display: inline;
        width: 100px;
        margin: 30px 15px 50px 15px;
        background-color: nth($colores, 4);
        border-radius: 10px 0;
        border-bottom: none;
        color: nth($colores, 1);
        transition: 500ms linear;
    }
}

.deli-buttons{
    input:hover{
        border-radius: 0 30px;
        background-color: nth($colores, 3);
        color: white;
    }
}



/*MEDIA QUERIES*/

@media(max-width: 660px){
    
    .servicios{
        display: flex;
        flex-direction: column-reverse;
    }

    .deliTake-container, .servicios-container{
        border-bottom: 5px solid nth($colores, 4);
    }
}

