    @font-face{
        font-family: 'Another Shabby';
        src: url(../../fonts/Anothershabby_trial.woff) format('woff');
    }

    @font-face{
        font-family: 'Josefin Sans';
        src: url(../../fonts/JosefinSans-Regular.woff) format('woff');
    }

    h2,h3,p,a,label{
        font-family: 'Josefin Sans';
        color: white;
    }

    a{
        color: black;
    }

    input, textarea, select{
        border: none;
        outline: none;
        border-radius: 10px 0;
        background-color: #F1A434;
        color:black;
        resize: none;
    }

    ::placeholder{
        color: #453B3B;
    }